body {
  background-image: url("25464.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}



h3 {
  
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: #000000;
  font-size: 90;
}

links a {
  color: white;
   
}

links a:hover{
colour:yellow }

list {
  text-align: center;
  
}

.all {
  display: inline-block;
  vertical-align: top;
  align-self: center;
  margin-left: 1em;
}

.all:nth-child(1) {
  margin-left: 0;
}

.title {
  text-align: center;
  width: 12em;
  color: #f2f2f2;
  background-color: #262626;
}


.links {
  text-align: center;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  font-weight: bold;
  background-color: #262626;
  width: 12em;
}
